{% extends "posts/base.html" %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="row mt-05">
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">ID</th>
			      <th scope="col">Title</th>
			      <th scope="col">Text</th>
			      <th scope="col">Date</th>
			      <th scope="col">kon</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for a in atribut %}
			    <tr>
			      <th scope="row">{{ a.id}}</th>
			      <td>{{ a.title}}</td>
			      <td>{{ a.text}}</td>
			      <td>{{ a.publication_date}}</td>
			      <td class="text-center">{{ a.view_num}}</td>
			    {% endfor %}
			    </tr>
			  </tbody>
			</table>		
		</div>
	</div>
{% endblock %}