{% extends "posts/base.html" %}
{% load static %}
{% block content %}
	<div class="container">
		<div class="row mt-05">
			<table class="table">
				<form action = "{%  url 'posts_list'  %}">
					<div class="col-8">
						<input type="text" 
						class="form-control" 
						placeholder="Что вы ищете?"
						name="q"
						value="{{search_word}}">
					</div>
					<button class="btn btn-primary col-2">
						ПОИСК
					</button>
				</form>
				<thead>
				    <tr>
				      <th scope="col">ID</th>
				      <th scope="col">Title</th>
				      <th scope="col">Text</th>
				      <th scope="col">Date</th>
				    </tr>
				</thead>
				<tbody>
					{% for p in posts  %}
					<tr>
				      <th scope="row">{{p.id}}</th>
				      <td>{{ p.title}}</td>
				      <td>{{ p.text}}</td>
				      <td></td>
				 	{% endfor %}
				    </tr>
				 </tbody>
			</table>	
		</div>
	</div>
{% endblock%}