{% extends "posts/base.html" %}
{% load widget_tweaks%}
{% block content %}
	<div class="container">
		<div class="row mt-5">
			<form action="{% url 'post_create' %}" method="POST">
				{% csrf_token %}
				<div class="mb-3 col-5">
					{% for err in form.title.errors%}
						<div class="alert alert-danger" role="alert"> {{err}}</div>
					{% endfor %}
					{{ form.title.label_tag }}
					{% render_field form.title class="form-control" %}
				</div>

				<div class="mb-3 col-5">
					{{ form.text.label_tag }}
					{% render_field form.text class="form-control" %}
				</div>
				<button class="btn btn-primary">СОЗДАТЬ</button>
			</form>	
		</div>
	</div>
{% endblock content%}
