{% extends "posts/index.html" %}
{% block content%}
<div class = 'container'>
<div class = 'row'  >
   <table class="table">
      <thead>
         <tr>
            <th class="table-dark" scope="col">#</th>
            <th class="table-dark" scope="col">Firstname</th>
            <th class="table-dark" scope="col">Lastname</th>
            <th class="table-dark" scope="col">Email</th>
            <th class="table-dark" scope="col">Phone number</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <th class="table-secondary" scope="row">1</th>
            <td class="table-secondary">Rasim</td>
            <td class="table-secondary">Muratovich</td>
            <td class="table-secondary">rasim123@gmail.com</td>
            <td class="table-secondary">0770 106 545</td>
         </tr>
         <tr>
            <th class="table-success" scope="row">2</th>
            <td class="table-success">Nikita</td>
            <td class="table-success">Itikov</td>
            <td class="table-success">zoro5lol@gmail.com</td>
            <td class="table-success">0502 230 605</td>
         </tr>
         <tr>
            <th class="table-danger" scope="row">3</th>
            <td class="table-danger">Andrey</td>
            <td class="table-danger">Bilov</td>
            <td class="table-danger">sumenpoor@gmail.com</td>
            <td class="table-danger">0557 757 873</td>
         </tr>
         <tr>
            <th class="table-warning" scope="row">4</th>
            <td class="table-warning">Igori</td>
            <td class="table-warning">Sinii</td>
            <td class="table-warning">igoritacat@gmail.com</td>
            <td class="table-warning">0555 070 532</td>
         </tr>
         <tr>
            <th class="table-info" scope="row">5</th>
            <td class="table-info">Tima</td>
            <td class="table-info">Tomofeivich</td>
            <td class="table-info">carnongirl@gmail.com</td>
            <td class="table-info">0507 666 122</td>
         </tr>
      </tbody>
   </table>
</div>
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
         </svg>
      </div>

{% endblock %}